# Conditional statements

In [4]:
# simple if
a=10
if a==10:
    print("equal")

equal

In [2]:
#if else 
a=10
if a==10:
    print("equal")
else:
    print("not equal")

equal

In [3]:
#elif statements
a=10;b=20;c=30
if a>b and a>c:
    print("a is the largest num",a)
elif b>a and b>c:
    print("b is the largest num",b)
else:
    print("c is the largest num",c)

c is the largest num 30

In [6]:
# nested if
if a>b:
    if a>c:
        print("a is the largest num")
elif b>c:
    print("b is the larget num")
else:
    print("c is the largest num")

c is the largest num

# FOR LOOP

In [ ]:
for temp_var in sequence

In [ ]:
for i in 1,2,3

In [7]:
2 == 3
2 is not 3

True

In [9]:
'a' in "alekhya"

True

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,20,10):
    print(i)

1
11

In [13]:
str1="apssdc"
for i in str1:
    print(i)

a
p
s
s
d
c

In [14]:
str1="apssdc"
for i in str1:
    print(i,end="")

apssdc

In [15]:
str1="apssdc"
for i in str1:
    print(i,end=" ")

a p s s d c

In [16]:
for i in "kks":
    print(i)

k
k
s

## While loop

In [18]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [32]:

for i in range(1,10):
    if i==3:
        continue
    elif i==2:
        break
    else:
        print(i)

1

## List Concept

* List is mutable(we change the data)
* list - []
* List can have different data types
* more than one list is exist in a list

In [24]:
l1=[1,2,3]
type(l1)

list

In [36]:
l2=[1,5,"dffr"]
type(l2)

list

In [27]:
l3=[1,2,[3,4]]          
type(l3)

list

In [28]:
l3[2]

[3, 4]

In [29]:
l3[1]

2

In [30]:
l3[0]

1

In [34]:
l3[1:3]

[2, [3, 4]]

In [35]:
l3[1:2]

[2]

In [37]:
l2[::-1]

['dffr', 5, 1]

In [38]:
l3[2:3]

[[3, 4]]

In [39]:
l3[2:0]

[]

In [41]:
l3[2][0]

3

In [42]:
l3[2][1]

4

In [43]:
l3[::-1]

[[3, 4], 2, 1]

In [45]:
a='sri padmavathi mahila visvavidyalayam'
b=a.split()
print(b)
type(b)

['sri', 'padmavathi', 'mahila', 'visvavidyalayam']

list

In [46]:
a='sri padmavathi mahila visvavidyalayam'
b=a.split("a")
print(b)
type(b)

['sri p', 'dm', 'v', 'thi m', 'hil', ' visv', 'vidy', 'l', 'y', 'm']

list

In [47]:
a='sri padmavathi mahila visvavidyalayam'
b=a.split("a","i")
print(b)
type(b)

TypeError: 'str' object cannot be interpreted as an integer

In [48]:
"a".join(b)

'sri padmavathi mahila visvavidyalayam'

## FUNCTIONS
* len
* min
* max
* sorted
* sum

In [53]:
lis=[23,45,20,12,50]
len(lis)

5

In [54]:
lis=sorted(lis)
lis

[12, 20, 23, 45, 50]

In [56]:
sorted(lis,reverse=True)

[50, 45, 23, 20, 12]

In [57]:
lis[::-1]

[50, 45, 23, 20, 12]

In [58]:
sum(lis)

150

In [60]:
lis[0]=98
lis

[98, 20, 23, 45, 50]

In [63]:
help("list")

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [64]:
lis

[98, 20, 23, 45, 50]

In [66]:
lis.append(8)
lis

[98, 20, 23, 45, 50, 2, 8]

In [69]:
lis.clear()

In [71]:
lis

[]

In [86]:
list1=[1,4,5,4]
a=list1.copy()
print(a)
type(list1)

[1, 4, 5, 4]

list

In [76]:
list1.count(4)

2

In [74]:
list1.count(8)

0

In [80]:
list1.index(1)

0

In [81]:
list1.index(1,1,4)

ValueError: 1 is not in list

In [90]:
list1.index(4)  #In index we want to give value in the list
                 # output is the position of particular value

1

In [91]:
list1

[1, 4, 5, 4]

In [96]:
list1.insert(1,89)
list1

[1, 89, 89, 89, 4, 5, 4]

In [98]:
list1.insert(5,67)
list1

[1, 89, 67, 89, 89, 67, 4, 5, 4]

In [100]:
list1.insert(4,68)
list1

[1, 89, 67, 89, 68, 68, 89, 67, 4, 5, 4]

## Practice problems
* Check the given year is a Leap year or not
* Check if the number exist in a given range (inputs: number(n), range(lower number and upper number)
* Calculate the square root of a given number

1 problem

In [3]:
def leap(a):
        if ((a%4==0 and a%100!=0) or (a%400!=0)):
            print("leap year")
        else:
            print("not leap year")
leap(int(input()))

2016
leap year

2 problem

In [2]:
a=int(input())
def limit(lb,ub):
    for i in range(lb,ub):
        if a==i:
            print(a,"is in given range")
limit(int(input()),int(input()))

4
1
5
4 is in given range

3 problem

In [8]:
a=int(input())
b=(a**(1/2))
print(int(b))

36
6

* Program to print the pyramid pattern in python using for loop.
* Read the given string that contains alphanumeric values. Print all even number, all odd numbers and alphabets separately. 
* Print n Natural Numbers using while loop.
* Program print n number of iterations using while loop with if statement.

In [4]:
def py(r):
    k=2*r-2
    for i in range(0,r):
        for j in range(0,k):
            print(end=" ")
        k=k-1
        for j in range(0,i+1):
            print(" *",end="")
        print("\n")
py(int(input()))

5
         *

        * *

       * * *

      * * * *

     * * * * *

In [11]:
a=input()
e=""
o=""
for i in a:
    if (i.isalpha()):
        print(i,end="")
    else:
        if (int(i)%2==0):
            e=e+i
        else:
            o=o+i
print("\n",e,end="")
print("\n",o,end="")

kks56778
kks
 68
 577

In [1]:
n=int(input())
i=1
while(i<=n):
    print(i)
    i+=1

10
1
2
3
4
5
6
7
8
9
10

In [8]:
n=int(input())
count=0
while(n!=0):
    if(n%2==0):
        count=count+1
        print(count)
    n=n-1

10
1
2
3
4
5

# Tasks
* Iterate the integers from 1 to 50, for multiples of 3 print “Fizz” and for multiples of 5 print “Buzz” and for multiples of both 3 and 5 print “FizzBuzz”.
* Check the number of digits in a given number

In [5]:
n=int(input())
for i in range(1,n):
    if(i%3==0):
        print("Fizz")
    if(i%5==0):
        print("Buzz")
    if((i%3==0) and (i%5==0)):
        print("Fizzbuzz")
        i+=1

50
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizzbuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizzbuzz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizz
Fizz
Buzz
Fizzbuzz
Fizz

In [7]:
n=int(input())
c=0
while(n>0):
    c=c+1
    n=n//10
print(c)

123
3

# Practice problems
* Take a list of elements and add that list into another empty list
* Sort the list of elements in ascending order and descending order.
* Given a two list of equal size create a set such that it shows the element from both lists in the pair.
* Write a python program to print the sum and average of elements in the list.

In [6]:
l1=[1,2,3]
l1
l2=[]
l2=l1.copy()
l2

[1, 2, 3]

In [10]:
list1=[34,78,21,12,90]
list1
list1=sorted(list1)
print(list1)
sorted(list1,reverse=True)

[12, 21, 34, 78, 90]

[90, 78, 34, 21, 12]

In [3]:
l1=[3,8,6]
l2=[7,6,8]
for i in l1:
    for j in l2:
        if (i==j):
            print(i,j)

8 8
6 6

In [16]:
l1=[1,2,3,4,5]
a=int((len(l1)))
b=sum(l1)
print(b)
print(int(b/a))

15
3