#python basics

In [2]:
a=123
b=4
a,b

(123, 4)

In [6]:
a=123
type(float(a))
a

123

In [9]:
c="alekhya"
type(c)

str

In [10]:
x=12
type(str(x))

str

In [12]:
c='k'
type(c)

str

In [14]:
a=19
b=float(a)
b

19.0

In [17]:
a=int(input())
type(a)

4544

int

In [18]:
a=input()
type(a)

344

str

In [19]:
f=float(input())
type(f)

334

float

arithmetic operators
#Relational operators
#assignment operators
#
# Bitwise operators
# Indentation
# Membership operators

In [22]:
a=10
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

14
6
40
2.5
2
2

In [23]:
a**b

10000

In [ ]:
pow(a,b)

## Relational operators

In [24]:
3<6

True

In [25]:
7!=0

True

In [26]:
6>9

False

In [27]:
2==3

False

In [28]:
3>=3

True

## Assignment operators

In [29]:
d=23
d

23

In [30]:
a=0
d=5
c=0
a

0

In [31]:
a=9
d=6
h=9
a
d
h

9

In [33]:
a=0
a+=1
a

1

In [34]:
a=4
a*=9
print(a)

36

In [38]:
c=6
a=b=c
c

6

# Logical operators

In [39]:
True and False

False

In [40]:
false and false

NameError: name 'false' is not defined

In [41]:
True and True

True

In [42]:
True and False

False

In [43]:
True or False

True

# Bitwise operators

In [44]:
4 & 7

4

In [45]:
7 & 4

4

In [46]:
~4

-5

In [47]:
4 | 7

7

## Indentation

In [48]:
2 is 7

False

In [49]:
2 is not 5

True

# Membership operator

In [50]:
a='keerthana'
'k' in a

True

In [51]:
a='sri'
'b' in a

False