# Dictionary comprehension

In [6]:
l1 = [1,2,3,4,5,6]
l2 = [ele**2 for ele in l1]
l2

[1, 4, 9, 16, 25, 36]

In [8]:
d={val:val**2 for val in l1}
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [12]:
s = "apple ball cat dog elephant"
d2 = {word[0]:word for word in s.split()}
d2

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant'}

In [19]:
d3 = {word[0]:word.capitalize() for word in s.split()}
d3

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'Elephant'}

In [20]:
print(l1)
s2 = "one two three four five six"
s2

[1, 2, 3, 4, 5, 6]

'one two three four five six'

In [25]:
list((zip(l1,s2.split())))

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (6, 'six')]

In [26]:
{k:v for k,v in zip(l1,s2.split())}

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}

### Task

In [3]:
country=(input().split())
capital=(input().split())
{r:k for r,k in zip(country,capital)}

India Pakistan Nepal Bhutan China Bangladesh
NewDelhi Islamabad Kathmandu Thimphu Beijing Dhaka

{'India': 'NewDelhi',
 'Pakistan': 'Islamabad',
 'Nepal': 'Kathmandu',
 'Bhutan': 'Thimphu',
 'China': 'Beijing',
 'Bangladesh': 'Dhaka'}

# Tuple Comprehensions

In [7]:
tuple(val**2 for val in l1)

(1, 4, 9, 16, 25, 36)

calculate the sum of first n value

In [12]:
n = int(input())
sum(tuple(e for e in range(1,n+1)))

5

15

In [13]:
n = int(input())
sum([e for e in range(1,n+1) if e%2==0])

10

30

In [14]:
n2 = int(input())
sum(tuple(e for e in range(1,n2+1) if e%2 == 0))

10

30

In [31]:
n=int(input())
Ar = input().split()
ar = [int(v) for v in Ar]
ar

2
2 4

[2, 4]

In [32]:
Ar

['2', '4']