# List comprehensions
* Syntax[expression for _loop_one_or_more conditions]

In [4]:
n="1 2 3 4"
int_n=[]
for ele in n.split():
    int_n.append(int(ele))
print(int_n)
type(int_n)

[1, 2, 3, 4]

list

In [6]:
int_n2=[int(ele) for ele in n.split()]

In [7]:
int_n2

[1, 2, 3, 4]

In [5]:
int_n2=[int(ele) for ele in n.split() if int(ele)%2==0]

In [6]:
int_n2

[2, 4]

In [18]:
k="hii keerthana sri how are you"
ls=[ w for w in k.split()]

In [19]:
ls

['hii', 'keerthana', 'sri', 'how', 'are', 'you']

In [20]:
k="hii keerthana sri how are you"
ls=[char for w in k.split()for char in w]

In [21]:
ls

['h',
 'i',
 'i',
 'k',
 'e',
 'e',
 'r',
 't',
 'h',
 'a',
 'n',
 'a',
 's',
 'r',
 'i',
 'h',
 'o',
 'w',
 'a',
 'r',
 'e',
 'y',
 'o',
 'u']

In [33]:
def string(n):
    list1=[int(i) for i in n if i.isdigit()]
    print(sum(list1))
string(input())

13B15A84R7
29

In [19]:
def name(n):
    l=[s for s in n.split() if s.endswith("a")]
    print(l)
name(input())

keerthana rajkumar rani raja
['keerthana', 'raja']

In [16]:
r = [float(sval) for sval in '34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7'.split(', ') if float(sval)>0]
r

[34.6, 44.9, 68.3, 44.6, 12.7]

In [13]:
for ele in r:
    print(float(ele))

34.6
-203.4
44.9
68.3
-12.2
44.6
12.7

In [26]:
def string(n):
    r=[k for k in n.split() if "a" in k or "e" in k or "i" in k or "o" in k or "u" in k ]
    print(r)
string(input())

My name is Aarshay Jain!
['name', 'is', 'Aarshay', 'Jain!']

In [34]:
def string(n):
    s="aeiou"
    print("".join([k for k in n if k not in s ]))
string(input())

My name is Aarshay Jain!
My nm s Arshy Jn!