# Tupels

In [26]:
name="apssdc"

In [27]:
name[1:3][::-1]

'sp'

In [28]:
name[0]=x

NameError: name 'x' is not defined

In [29]:
l=[1,23,4,"e","h"]
type(l)

list

In [30]:
l.remove("h")

In [31]:
l

[1, 23, 4, 'e']

In [32]:
a=1,2,5,"a","b"
a

(1, 2, 5, 'a', 'b')

In [33]:
a.remove(1)

AttributeError: 'tuple' object has no attribute 'remove'

In [34]:
b=('a',12,2.3,[2,34,'list'],(23,4,"65"))
a

(1, 2, 5, 'a', 'b')

In [35]:
print(a[0])  # indexing
a[0]="a"     # updating
a.remove(a)  # removing

1

TypeError: 'tuple' object does not support item assignment

In [36]:
b

('a', 12, 2.3, [2, 34, 'list'], (23, 4, '65'))

In [37]:
print[1::-1]

TypeError: 'builtin_function_or_method' object is not subscriptable

a[-

In [38]:
a

(1, 2, 5, 'a', 'b')

In [39]:
b[-1][::-1]

('65', 4, 23)

In [40]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [41]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [47]:
t1=(1,2,3,4,1)
print("count of 1 in agiven tuple",t1.count(1))
t1.index(1)                                         # index gives first index of value

count of 1 in agiven tuple 2

0

# Example programs
* Python program to reverse the given elements in tuple
* Input: Apssdc Output: cdsspA

In [2]:
input_=tuple(input())
print("input data",input_,type(input_))
for ele in input_[::-1]:
    print(ele,sep="",end="")

apssdc
input data ('a', 'p', 's', 's', 'd', 'c') <class 'tuple'>
cdsspa

In [3]:
input_2=tuple(input())      #"".join(input_2[::-1])
print(input_2)
"".join(input_2)

apssdc
('a', 'p', 's', 's', 'd', 'c')

'apssdc'

* Python program to print names in tuples using iterations
* Input : Sri Padmavthi mahila university- In Tuple
* Output :    Sri 
           padmavathi

           Mahila

           University

In [4]:
t=tuple("Sri Padmavathi mahila university".split())
t

('Sri', 'Padmavathi', 'mahila', 'university')

In [5]:
for el in t:
    print(el)

Sri
Padmavathi
mahila
university

In [7]:
print("\n".join(t))

Sri
Padmavathi
mahila
university

# Python program to print names in tuples using iterations
* Input:Alekhya,Gireesha---In Tuple Output: 1.Alekhya 2.Gireesha

In [8]:
m=input()
h=tuple(m.split())

alekhya gireesha

In [9]:
i=0
for el in h:
    i+=1
    print(i,".",el)

1 . alekhya
2 . gireesha

# SETS

In [14]:
l=[1,2,3,4,2,323,5453,43,1,2,54]
s=set(l)
s

{1, 2, 3, 4, 43, 54, 323, 5453}

In [11]:
l1=["apssdc","course","both"]
s1=set(l1)
s1

{'apssdc', 'both', 'course'}

In [16]:
l2=['a','V','b','G']
s2=set(l2)
s2

{'G', 'V', 'a', 'b'}

In [17]:
s2[0]

TypeError: 'set' object is not subscriptable

In [18]:
s2[::-1]

TypeError: 'set' object is not subscriptable

In [23]:
a={1,2,3,4,5}
b={3,4,5,6}

In [24]:
a.intersection(b)

{3, 4, 5}

In [25]:
b.union(a)

{1, 2, 3, 4, 5, 6}

In [26]:
b.isdisjoint(a)

False

In [27]:
b.issuperset(a)

False

In [26]:
a.issubset(b)

False

In [28]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [27]:
b.issubset(a)

False

In [30]:
a.issuperset(b)

False

In [31]:
b.issuperset(a)

False

In [32]:
a

{1, 2, 3, 4, 5}

In [34]:
a.pop

In [37]:
a.remove

In [38]:
a.symmetric_difference(b)

{1, 2, 3, 6}

In [40]:
a.symmetric_difference_update

In [2]:
s1=set(input())
print(len())

abcdadce

TypeError: len() takes exactly one argument (0 given)

In [1]:
print(len(set(input())))

abcdadce
5

In [33]:
details=['mstp','sep',2019,'apssdc',20,'python']
d_details=[{'program':'mstp','month':'sep','year':2019}]
d_details

[{'program': 'mstp', 'month': 'sep', 'year': 2019}]

In [34]:
d={1:'abc',2:123,'dict':{1:'a',2:'b'},'list':[1,2,3,4]}
d

{1: 'abc', 2: 123, 'dict': {1: 'a', 2: 'b'}, 'list': [1, 2, 3, 4]}

In [9]:
d['list']

[1, 2, 3, 4]

In [10]:
d['dict']

{1: 'a', 2: 'b'}

In [3]:
programming_1={1:'c',2:'c++',3:'java'}
personal_details={'name':"vasantha",'age':78,'gender':"?"}
personal_details

{'name': 'vasantha', 'age': 78, 'gender': '?'}

In [13]:
programming_1[2]

'c++'

In [19]:
programming_1[4]='python'
programming_1[4]

'python'

In [4]:
personal_details['gender']="female"
personal_details

{'name': 'vasantha', 'age': 78, 'gender': 'female'}

In [44]:
len(personal_details)

3

In [45]:
for ele1,ele2 in personal_details.items():
    print(ele1,ele2,sep=" : ")

name : vasantha
age : 78
gender : female

In [46]:
for ele in personal_details.items():
    print(ele,type(ele()))

TypeError: 'tuple' object is not callable

In [24]:
print(1,2,3,4)
print(5,6,7,8)

1 2 3 4
5 6 7 8

In [25]:
print(1,2,3,4,sep="@",end="+")
print(5,6,7,8)

1@2@3@4+5 6 7 8

In [26]:
d.clear()

In [27]:
d_details

NameError: name 'd_details' is not defined

In [30]:
c_details=d_details.copy()
c_details

NameError: name 'd_details' is not defined

In [ ]:
d_details

In [48]:
g={1:'abc',2:'123'}
g

{1: 'abc', 2: '123'}

In [49]:
f=g

In [50]:
f

{1: 'abc', 2: '123'}

In [52]:
f[1]=45
f[1]

45

In [53]:
f

{1: 45, 2: '123'}

In [54]:
f,g

({1: 45, 2: '123'}, {1: 45, 2: '123'})

In [55]:
id(f),id(g)

(2430013026592, 2430013026592)

In [56]:
a='keerthana'
b='keerthana'

In [57]:
id(a),id(b)

(2430012839664, 2430012839664)

# Tasks

* Maximum length: Print the words which length has maximum if multiple names has max length print that names in same line.
   Sample Input : krishna aditya ram eshwer

   Sample output : krishna

In [68]:
a="krishna aditya ram eshwer".split()
len_a=[]
for ele in a:
    len_a.append(len(ele))
a[len_a.index(max(len_a))]

'krishna'

In [69]:
name="raja rani srajkumar keerthana".split()
len_name=[]
for i in name:
    len_name=append(len(ele))
    max_name=max(len_name)
for p in range(len(name)):
    if max_name==len(name[i])

NameError: name 'append' is not defined

In [10]:
n="Apollo Brix Chichi Krish".split()
for name in n:
    o_len=len(name)
    set_len=len(set(name))
    if (o_len!=set_len):
            print(name)

Apollo
Chichi